
html { 
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Prosthetic_leg_cycling.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}