html { 
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Prosthetic_leg_cycling.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.daily{
  padding-top: 10%;;
  color: white;
}
li{
list-style-type: none;
}

.commenttext{
    padding:10%;
}
